@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap');

@layer base {
	html,
	body {
		@apply bg-white font-inter dark:bg-d_bg dark:text-d_text_primary;
	}

	body {
		overflow-x: hidden;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-medium text-text_title dark:text-d_text_title;
	}

	h1 {
		@apply text-2xl md:text-3xl lg:text-4xl;
	}
}

@layer components {
	.btn {
		@apply rounded-md px-4 py-1 duration-300 hover:brightness-90;
	}
	.btn-lg {
		@apply !py-2 text-lg;
	}
	.btn-outline {
		@apply btn border border-solid border-gray-300 text-gray-600 dark:border-gray-700 dark:text-d_text_primary;
	}
	.btn-primary {
		@apply btn bg-primary text-white dark:bg-d_primary dark:text-gray-50;
	}
	.btn-accent {
		@apply btn bg-accent text-white dark:bg-d_accent dark:text-gray-50;
	}

	.border-color {
		@apply border-gray-200 dark:border-gray-600;
	}

	.field {
		@apply border-color w-full rounded-md border py-2 px-4 text-gray-500 outline-none dark:border-none dark:bg-slate-800 dark:text-gray-200;
	}
	.field-error {
		@apply border-red-600 dark:border-red-400;
	}

	.filter-item {
		@apply cursor-pointer rounded-lg px-3 py-2 text-gray-500 duration-300 hover:bg-gray-100 hover:text-gray-800 dark:hover:bg-d_bg_hover dark:hover:text-d_text_title;
	}

	.flex-center {
		@apply flex items-center justify-center;
	}

	.bg-overlay {
		@apply fixed top-0 left-0 z-[99] h-full w-full bg-black bg-opacity-40 dark:bg-opacity-80;
	}
	.bg-gradient {
		@apply bg-gradient-to-r from-primary to-secondary dark:from-d_primary dark:to-d_secondary;
	}
	.bg-success {
		@apply bg-green-700 dark:bg-green-400;
	}

	.text-gradient {
		@apply bg-gradient-to-r from-primary to-secondary bg-clip-text text-transparent dark:from-d_primary dark:to-d_secondary;
	}
	.text-color-normal {
		@apply text-text_primary dark:text-d_text_primary;
	}
	.text-color-title {
		@apply text-text_title dark:text-d_text_title;
	}
	.error-text {
		@apply !text-red-600 dark:!text-red-400;
	}
	.success-text {
		@apply text-green-700 dark:text-green-400;
	}

	.disabled {
		@apply pointer-events-none cursor-no-drop opacity-75;
	}

	.no-scrollbar::-webkit-scrollbar {
		display: none;
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}

	.menu {
		@apply absolute hidden rounded-lg pt-2 shadow-lg focus:outline-none group-hover:block;
	}
	.menu ul {
		@apply bg-slate-50 dark:bg-d_bg;
	}
	.menu-item {
		@apply block cursor-pointer px-4 py-2 text-sm capitalize text-gray-600 duration-150 hover:bg-slate-200 dark:text-d_text_primary dark:hover:bg-d_bg_hover md:text-base;
	}

	.tag-link {
		@apply rounded-md bg-primary/10 py-1 px-2 text-sm text-primary duration-300 hover:brightness-90 dark:bg-d_primary/10 dark:text-d_primary;
	}

	.poll-summary__bg {
		@apply w-full rounded-lg bg-slate-100/25 py-3 px-5 shadow-md dark:bg-slate-800/25 md:py-5 md:px-8;
	}
	.poll-summary__title {
		@apply break-words text-lg font-normal text-primary duration-300 hover:brightness-90 dark:text-d_primary md:text-xl;
	}

	.pagination {
		@apply flex w-full justify-center -space-x-px;
	}
	.pagination__item {
		@apply border border-gray-200 bg-white py-2 px-3 leading-tight text-gray-500 hover:bg-gray-100 hover:text-gray-700 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white;
	}
	.pagination__next {
		@apply pagination__item rounded-r-lg;
	}
	.pagination__prev {
		@apply pagination__item ml-0 rounded-l-lg;
	}
	.pagination__break {
		@apply pagination__item disabled;
	}
	.pagination__active {
		@apply disabled !bg-accent/25 font-semibold !text-accent dark:!bg-d_accent/25 dark:!text-d_accent;
	}

	.transform-center {
		@apply absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2;
	}

	.new-poll-label {
		@apply text-base text-gray-600 dark:text-gray-400;
	}
}

@layer utilities {
}
